/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("back1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.2em;
    font-family: 'Raleway', 'Arial';
    color: #fff;
}
  
ul {
    list-style-type: none;
    margin: -1.5em -1.5em 2em -1.5em;
    padding: 1em 0em 1em 4em;
    background-color: #333333;
}
  
ul li {
    display: inline;
    margin-right: 60px;
}
  
ul li a {
    font-size: 1em;
  }
  
a {
    color: #f9ffef;
    text-decoration: none;
}
  
li a:hover {
    color: #9f59c0;
}

