th, td {
    padding: 15px;
}


div {
    width: 40%;
    padding: 15px 100px 15px 100px;
    border-radius: 20px;
    border-style: solid;
    background-color: rgb(80, 33, 17);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #6a4f14;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}
  
input[type=submit]:active, input[type=reset]:active {
    transform: translateY(4px);
}
  
input[type=text] {
    width: 100%;
    margin: 0 60px;
    padding: 6px 20px;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 4px;
}