<div id="book">
    <form action="#">
        <table>
            <tr>
                <td colspan="3"><h3>Add a Book</h3></td>
            </tr>
            <tr>
                <td>*Title:</td>
                <td>
                    <input type="text" id="txtTitleB" formControlName="txtTitleB"><br>
                    <!-- <span>Enter Title of the book</span> -->
                </td>
            </tr>
            <tr>
                <td>*Sector:</td>
                <td>
                    <input type="text" id="txtSectorB" formControlName="txtSectorB"><br>
                    <!-- <span>Enter Sector</span> -->
                </td>
            </tr>
            <tr>
                <td>*Published Date:</td>
                <td>
                    <input type="text" id="txtPubDateB" formControlName="txtPubDateB"><br>
                    <!-- <span>Enter Published Date of the book</span> -->
                </td>
            </tr>
            <tr>
                <td>*Author:</td>
                <td>
                    <input type="text" id="txtAuthor" formControlName="txtAuthor"><br>
                    <!-- <span>Enter Author of the book</span> -->
                </td>
            </tr>
            <tr>
                <td>Publisher:</td>
                <td>
                    <input type="text" id="txtPub" formControlName="txtPub"><br>
                </td>
            </tr>
            <tr>
                <td>Total Pages:</td>
                <td>
                    <input type="text" id="txtPages" formControlName="txtPages"><br>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="reset" name="btnClear" id="clear" value="Clear">
                </td>
                <td>
                    <input type="submit" name="btnAdd" id="submit" value="Add Book">
                </td>
            </tr>
        </table>
    </form>
</div>
